In [5]:
import json
import pandas as pd
import numpy as np

import re

from sqlalchemy import create_engine


from config import db_password

import time

import psycopg2

In [6]:
file_dir =(r"C:\Users\Chris\Documents\Data_Class_Projects\Movies-ETL")
kaggle_file = f'{file_dir}/kaggle_metadata.csv'
kaggle_metadata = pd.read_csv(kaggle_file, low_memory=False)

In [7]:
test_df = kaggle_metadata.head()

In [8]:
### DATABASE TEST
#db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"

db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/movie_data"
engine = create_engine(db_string)
test_df.to_sql(name='movies', con=engine)

ValueError: Table 'movies' already exists.